#active{      /*  id선택자 > class선택자 > Tag선택자 */
  color:red;
}
.saw{
  color:gray;
}
  h1{
    font-size: 100px;
    text-align:center;
  }
  h2{
    font-size: 70px;
  }
  .youtube{
      margin: 0 auto;
  }
  a {
    color: black;
    text-decoration:none; <!-- 밑줄없애기 -->
  }
  ol{
    list-style-type:none;
    font-size: 30px;
    text-align:center;
  }
